@import "sonner/dist/styles.css";
@import "../ui/globals.css";

@plugin "@tailwindcss/typography";

@source "../ui/**/*.{ts,tsx}";
@source "../shared/**/*.{ts,tsx}";

@utility draggable {
  app-region: drag;
}

@utility draggable-none {
  app-region: no-drag;
}
